body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.quiz-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-container {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    margin-right: 20px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.footer-container {
    text-align: center;
    margin-top: 20px;
}

.footer-container button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-container button:hover {
    background-color: #3e8e41;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}