/*Author: Felix Davis-Eldridge*/
/*Date Created: 17/06/2024*/
/*Last Updated: 24/06/2024 */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');
body {
    background-image: linear-gradient(rgb(17, 45, 97), rgb(8, 20, 43));
   /* background-color: darkslategray; (this is a temporary line) */
    color: rgb(250, 235, 215);
    font-family: "Rubik", sans-serif;
    padding: 0;
    margin: 0;

}

#home {
  padding-top: 110px;
}

html {

    scroll-behavior: smooth
    }

section {
    display: grid!important;
    place-items: center;
    min-height: 100vh;
    align-content: center;
}

.container {
  max-width: 800px; /* adjust this value to your desired width */
  margin: 0 auto; /* centers the container horizontally */
  padding: 5px; /* adds some space between the content and the border */
  text-align: left; /* justifies the text to the left */
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px);      /* Sets the element to have 0 opacity (invisible) and offscreen */
    transition: all 1s;
}

.show {
opacity: 1;
filter: blur(0);        /* When the intersection observer gives the element the show class it applies the animation and makes the element visible */
transform:translateX(0); 
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-item {
  margin: 20px;
  opacity: 0;
  transform: translateX(-100px);
  transition: transform 1s, opacity 1s;
}

.gallery-item:nth-child(1) {
  transition-delay: 0ms;
}

.gallery-item:nth-child(2) {
  transition-delay: 200ms;
}

.gallery-item:nth-child(3) {
  transition-delay: 400ms;
}

.gallery-item img {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* Add this to trigger the animation */
.gallery-item {
  animation: slide-in 1s forwards;
}

@keyframes slide-in {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

h1 { 
font-family:"Roboto Slab", serif; 

}

#title-image {
max-width: 100%;
height: auto;
z-index: -1;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #055e1d;
  color: #fff;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: top 0.5s ease-in-out;
}

.nav.bottom {
  top: auto;
  bottom: 0;
}

.nav-text {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 50px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ccc;
}