@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
    background-color: darkslategray;
    color: antiquewhite;
    font-family: "Rubik", sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    min-height: 100vh;
    align-content: center;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
opacity: 1;

}